/*import*/
/* les reglages couleurs*/
/* les reglages polices*/
/* background menus*/
/* fullsreen*/
/* centrer de gauche a droite*/
/*centrer horizontalement et verticalement*/
/* reglage generale des menus*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* les reglages couleurs*/
/* les reglages polices*/
/* background menus*/
/* reglages des menus*/
/*menu 1*/
#la-note {
  background: #fcdfdb;
}

#la-note-enchantee {
  background-color: #fcdfdb;
  max-width: 1200px;
  height: 512px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 60px;
}

/*menu 2*/
#le-chic {
  background: #fcdfdb;
}

#le-chic-a-la-francaise {
  background-color: #fff5fe;
  max-width: 1200px;
  height: 512px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 60px;
}

/*menu 3*/
#le-delice {
  background: #fcdfdb;
}

#le-delice-des-papilles {
  background-color: #edefef;
  max-width: 1200px;
  height: 512px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 60px;
}

/*menu 4*/
#la-palette {
  background: #fcdfdb;
}

#la-palette-du-gout {
  background-color: #fdfffd;
  max-width: 1200px;
  height: 512px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 60px;
}

/*header*/
header {
  text-align: center;
  height: 30px;
  padding-top: 10px;
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
}

header h1 {
  color: #fdcb46;
}

/*corps*/
body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}
body main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

section div {
  border: 1px solid grey;
  width: 650px;
  height: 268px;
  margin-left: auto;
  margin-right: auto;
}

section#menus {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 40px;
}

section a {
  text-decoration: none;
}

/* menu la note enchantee*/
/* menu le chic a la francaise*/
div#le-chic {
  margin-left: 30px;
}

/* menu le delice des papilles*/
div#le-delice {
  margin-top: 20px;
}

/* menu la palette du gout*/
div#la-palette {
  margin-left: 30px;
  margin-top: 20px;
}

/* section soon*/
#soon {
  background-color: #579c87;
  color: #fdcb46;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #579c87;
  border-radius: 5px;
  width: 130px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 2.4em;
}

/*footer*/
footer, header {
  background-color: #579c87;
}

footer {
  height: 30px;
  padding: 0px 10px;
  margin-top: 10px;
}

footer a {
  text-decoration: none;
  color: #fdcb46;
  font-family: Arial, Helvetica, sans-serif;
}

/* liens footer*/
a.mention {
  float: right;
}

a.contact {
  float: left;
}

/*# sourceMappingURL=style.css.map */
