@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* les reglages couleurs*/
/* background menus*/
/* fullsreen*/
/* centrer de gauche a droite*/
/* les reglages couleurs*/
/* background menus*/
/* fullsreen*/
/* centrer de gauche a droite*/
/*Parametres fonts*/
@font-face {
  font-family: "devonshireregular";
  src: url("Fonts//devonshire-regular-webfont.woff2") format("woff2"), url("Fonts/devonshire/devonshire-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kalamlight";
  src: url("Fonts/kalam/kalam-light-webfont.woff2") format("woff2"), url("Fonts/kalam/kalam-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*parametres couleur du degradé*/
/*parametres menu page d'accueil*/
.menu1 {
  font-family: "devonshireregular";
}
.menu1 span {
  background: linear-gradient(to right, #ee5a61 0%, #f4896d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu1 h2 {
  color: black;
}
.menu1 h3 {
  color: black;
  text-transform: uppercase;
  font-family: "kalamlight";
}

/*parametres page menu*/
#la_note main {
  font-family: "kalamlight";
}
#la_note main article {
  background-color: #fcdfdb;
}

/*parametre fonts*/
@font-face {
  font-family: "croissant_oneregular";
  src: url("Fonts/croissant/croissantone-regular-webfont.woff2") format("woff2"), url("Fonts/croissant/croissantone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*parametre couleurs degradé*/
/*parametre menu page d'accueil*/
.menu2 {
  font-family: "croissant_oneregular";
}
.menu2 h2 {
  background: linear-gradient(to right, #ca802a 20%, #b382dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu2 h3 {
  color: #ca802a;
}

/*parametre page menu*/
#le_chic main {
  font-family: "croissant_oneregular";
}
#le_chic main article {
  background-color: #fff5fe;
}

/*parametre Fonts*/
@font-face {
  font-family: "dancing_scriptregular";
  src: url("Fonts/dancing/dancingscript-variablefont_wght-webfont.woff2") format("woff2"), url("Fonts/dancing/dancingscript-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*parametre couleurs degradé*/
/*parametre menu page d'accueil*/
.menu3 {
  font-family: "dancing_scriptregular";
}
.menu3 h2 {
  background: linear-gradient(to right, #3150E2 80%, #c0d4f4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu3 h3 {
  color: #3150E2;
}

/*parametre page menu*/
#le_delice main {
  font-family: "dancing_scriptregular";
}
#le_delice main article {
  background-color: #edefef;
}

/*parametre Fonts*/
@font-face {
  font-family: "kaushan_scriptregular";
  src: url("Fonts/kaushan/kaushanscript-regular-webfont.woff2") format("woff2"), url("Fonts/kaushan/kaushanscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*parametre couleurs du degradé*/
/*parametre menu page d'accueil*/
.menu4 {
  font-family: "kaushan_scriptregular";
}
.menu4 h2 {
  background: linear-gradient(to right, #3EA132 70%, #bff78a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu4 h3 {
  color: #3EA132;
}

/*parametre page menu*/
#la_palette main {
  font-family: "kaushan_scriptregular";
}
#la_palette main article {
  background-color: #fdfffd;
}

/*HEADER*/
header {
  height: 150px;
  background-color: #579c87;
}
header a {
  color: #fdcb46;
  text-decoration: none;
}
header h1 {
  text-align: center;
  font-size: 3.4em;
  font-weight: 600;
  line-height: 2em;
  margin: auto;
}

/*BODY & main*/
body {
  text-align: center;
  font-family: sans-serif;
}
body main {
  margin: auto;
}

/*ARTICLES*/
#home {
  max-width: 1400px;
  margin: auto;
}

.menus {
  width: 420px;
  height: 590px;
  display: inline-block;
  box-shadow: 0px 0px 30px #bebebe;
  border-radius: 3px;
  line-height: 2em;
  text-align: center;
  margin-right: 50px;
  margin-top: 20px;
}
.menus a {
  text-decoration: none;
}

/*SECTION SOON*/
.soon {
  display: block;
  text-align: center;
  color: #fdcb46;
  background-color: #579c87;
  border-radius: 20px;
  margin: auto;
  width: 40%;
  max-width: 600px;
  height: 120px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 1.5em;
}
.soon p {
  font-size: 2.2em;
  margin: 0;
  line-height: 2em;
}

/*FOOTER*/
footer {
  color: #fdcb46;
  background-color: #579c87;
  position: sticky;
  bottom: 0;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
footer a {
  text-decoration: none;
  color: #fdcb46;
  margin: auto;
  font-size: 3em;
}

/*parametre generales page menus */
.menu_title img {
  margin-top: 50px;
  width: 500px;
}

.title {
  line-height: 2em;
  font-size: 2em;
  font-weight: 500;
  margin: auto;
}

.price {
  font-size: 1.2em;
  font-weight: bold;
}

.page_menus main {
  margin: auto;
}
.page_menus main h2 {
  margin: 50px 0 20px 0;
  font-size: 4em;
  font-weight: 500;
}

.page_menus article {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.page_menus p {
  text-align: left;
  width: 60%;
  font-size: 1.4em;
  line-height: 4em;
}

.page_menus section div {
  display: flex;
  margin: auto;
  line-height: 3;
  justify-content: space-around;
}

/*# sourceMappingURL=style.css.map */
