@charset "UTF-8";
/* les reglages couleurs*/
/* background menus*/
/*parametre des animations et/ou  effets*/
/* Animation zoom menu */
.menus a {
  transition: 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.menus a:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

/* animation soon */
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
/* animation footer*/
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* animation footer keyframe mozilla*/
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(5deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-5deg);
  }
  40% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
  }
  70% {
    -webkit-transform: rotate(-5deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
/* Effet surlignements titre menus*/
.title h4:hover + .hover_underline {
  transform: scale(1);
}

.title .hover_underline {
  height: 1px;
  background-color: black;
  transform: scale(0);
  transition: transform 500ms;
  transform-origin: 0 0;
}

/* parametres generale pages menus*/
ul {
  padding: 0;
  margin: 0;
  display: contents;
  font-size: 1.6em;
}

.pages_menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.pages_menu h2 {
  margin-bottom: 35px;
  margin-top: 25px;
  font-size: 18px;
  font-weight: 100;
}

.sub_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  box-shadow: 0px 0px 10px 0px #c9c5c9;
  margin-bottom: 30px;
  width: 90%;
}

.menu_item {
  width: 81%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 100%;
}
.title img {
  max-height: 5px;
  width: 29%;
}
.title h4 {
  font-size: 12px;
  margin: 0 0;
}

.composition {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.composition p {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 12px;
}

.composition__price {
  font-weight: 600;
}

.composition.no_price {
  flex-direction: column;
}

/* RESPONSIVE */
/*min 280px*/
@media all and (min-width: 280px) {
  .composition {
    display: flex;
    flex-direction: column;
  }

  ul {
    font-size: 1.2em;
    line-height: 1.5em;
  }
}
/*min 576px*/
@media all and (min-width: 576px) {
  .composition {
    display: flex;
    flex-direction: row;
  }

  .composition__name {
    text-align: left;
  }

  li {
    font-size: 1.2em;
    line-height: 2em;
  }

  .title h4 {
    font-size: 15px;
  }
}
/*min 768px*/
@media all and (min-width: 768px) {
  .sub_section {
    width: auto;
    margin-top: 30px;
  }
}
/*min 992px*/
@media all and (min-width: 992px) {
  .pages_menu {
    margin-bottom: 40px;
  }
  .pages_menu h2 {
    font-size: 30px;
  }

  li {
    font-size: 1.6em;
    line-height: 2.2em;
  }
}
@media all and (min-width: 992px) {
  .composition p {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .title {
    margin-bottom: 30px;
  }
  .title h4 {
    font-size: 20px;
  }

  .menu_item {
    margin-bottom: 15px;
  }
}
/* les reglages couleurs*/
/* background menus*/
/*parametre des animations et/ou  effets*/
/* Animation zoom menu */
.menus a {
  transition: 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.menus a:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

/* animation soon */
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
/* animation footer*/
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* animation footer keyframe mozilla*/
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(5deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-5deg);
  }
  40% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
  }
  70% {
    -webkit-transform: rotate(-5deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
/* Effet surlignements titre menus*/
.title h4:hover + .hover_underline {
  transform: scale(1);
}

.title .hover_underline {
  height: 1px;
  background-color: black;
  transform: scale(0);
  transition: transform 500ms;
  transform-origin: 0 0;
}

/* Parametres fonts */
@font-face {
  font-family: "devonshireregular";
  src: url("Fonts/devonshire/devonshire-regular-webfont.woff2") format("woff2"), url("Fonts/devonshire/devonshire-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kalamregular";
  src: url("Fonts/kalam/kalam-regular-webfont.woff2") format("woff2"), url("Fonts/kalam/kalam-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* parametres couleur du degradé */
.menu1 {
  font-family: "kalamregular";
  background-color: #fcdfdb;
}
.menu1 span {
  background: linear-gradient(to right, #ee5a61 0%, #f4896d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu1 a {
  color: black;
}

/* specifique menu 1 page menu */
.pages__menu1 .sub_section {
  background-color: #fcdfdb;
  font-family: "kalamregular";
  font-weight: 300;
}
.pages__menu1 .sub_section h4 {
  font-weight: bolder;
}
.pages__menu1 .title {
  margin-bottom: 20px;
  color: black;
}
.pages__menu1 .title .hover_underline {
  background-color: black;
}

#title_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}
#title_menu img {
  width: 25%;
}
#title_menu h3 {
  font-family: "devonshireregular";
  font-size: 23px;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 10px;
}

#last_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Devonshire";
  width: 45%;
  margin-top: 17px;
  margin-bottom: 20px;
}
#last_item img {
  max-height: 20px;
  margin-right: 5px;
}
#last_item p {
  font-size: 17px;
  margin: 0;
}

.no_price {
  list-style: none;
}

/* parametre responsive */
@media all and (min-width: 992px) {
  #last_item {
    align-items: center;
  }
  #last_item p {
    font-size: 25px;
  }

  #title_menu {
    margin-bottom: 20px;
  }
  #title_menu h3 {
    font-size: 50px;
  }
}
/* parametres generale pages menus*/
ul {
  padding: 0;
  margin: 0;
  display: contents;
  font-size: 1.6em;
}

.pages_menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.pages_menu h2 {
  margin-bottom: 35px;
  margin-top: 25px;
  font-size: 18px;
  font-weight: 100;
}

.sub_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  box-shadow: 0px 0px 10px 0px #c9c5c9;
  margin-bottom: 30px;
  width: 90%;
}

.menu_item {
  width: 81%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 100%;
}
.title img {
  max-height: 5px;
  width: 29%;
}
.title h4 {
  font-size: 12px;
  margin: 0 0;
}

.composition {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.composition p {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 12px;
}

.composition__price {
  font-weight: 600;
}

.composition.no_price {
  flex-direction: column;
}

/* RESPONSIVE */
/*min 280px*/
@media all and (min-width: 280px) {
  .composition {
    display: flex;
    flex-direction: column;
  }

  ul {
    font-size: 1.2em;
    line-height: 1.5em;
  }
}
/*min 576px*/
@media all and (min-width: 576px) {
  .composition {
    display: flex;
    flex-direction: row;
  }

  .composition__name {
    text-align: left;
  }

  li {
    font-size: 1.2em;
    line-height: 2em;
  }

  .title h4 {
    font-size: 15px;
  }
}
/*min 768px*/
@media all and (min-width: 768px) {
  .sub_section {
    width: auto;
    margin-top: 30px;
  }
}
/*min 992px*/
@media all and (min-width: 992px) {
  .pages_menu {
    margin-bottom: 40px;
  }
  .pages_menu h2 {
    font-size: 30px;
  }

  li {
    font-size: 1.6em;
    line-height: 2.2em;
  }
}
@media all and (min-width: 992px) {
  .composition p {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .title {
    margin-bottom: 30px;
  }
  .title h4 {
    font-size: 20px;
  }

  .menu_item {
    margin-bottom: 15px;
  }
}
/* les reglages couleurs*/
/* background menus*/
/*parametre des animations et/ou  effets*/
/* Animation zoom menu */
.menus a {
  transition: 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.menus a:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

/* animation soon */
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
/* animation footer*/
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* animation footer keyframe mozilla*/
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(5deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-5deg);
  }
  40% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
  }
  70% {
    -webkit-transform: rotate(-5deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
/* Effet surlignements titre menus*/
.title h4:hover + .hover_underline {
  transform: scale(1);
}

.title .hover_underline {
  height: 1px;
  background-color: black;
  transform: scale(0);
  transition: transform 500ms;
  transform-origin: 0 0;
}

/*parametre fonts*/
@font-face {
  font-family: "croissant_oneregular";
  src: url("Fonts/croissant/croissantone-regular-webfont.woff2") format("woff2"), url("Fonts/croissant/croissantone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto_slabregular";
  src: url("Fonts/roboto-slab/RobotoSlab-Regular-webfont.eot");
  src: url("Fonts/roboto-slab/RobotoSlab-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/roboto-slab/RobotoSlab-Regular-webfont.woff2") format("woff2"), url("Fonts/roboto-slab/RobotoSlab-Regular-webfont.woff") format("woff"), url("Fonts/roboto-slab/RobotoSlab-Regular-webfont.ttf") format("truetype"), url("Fonts/roboto-slab/RobotoSlab-Regular-webfont.svg#roboto_slabregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* parametre couleurs du degradé */
.menu2 {
  background-color: #fff5fe;
}
.menu2 a {
  font-family: "croissant_oneregular";
  background: linear-gradient(to bottom right, #BB782E 25%, #9C6A96, #694DC5 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*specifique menu 1 page menu */
.pages__menu2 .sub_section {
  background-color: #fff5fe;
  font-family: "roboto_slabregular";
}
.pages__menu2 h3 {
  font-family: "croissant_oneregular";
  font-size: 15px;
  font-weight: lighter;
  background: -webkit-linear-gradient(left, #BB782E, #9C6A96, #694DC5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pages__menu2 .menu_item {
  margin-bottom: 30px;
}
.pages__menu2 .title {
  margin-bottom: 20px;
}
.pages__menu2 .title img {
  width: 18%;
}
.pages__menu2 h4 {
  font-weight: bold;
}

#item_1 {
  color: #BB782E;
}
#item_1 .hover_underline {
  background-color: #BB782E;
}

#item_2 {
  color: #9C6A96;
}
#item_2 .hover_underline {
  background-color: #9C6A96;
}

#item_3 {
  color: #694DC5;
}
#item_3 .hover_underline {
  background-color: #694DC5;
}

/* parametre responsive */
@media all and (min-width: 576px) {
  .pages__menu2 h3 {
    font-size: 30px;
  }
}
@media all and (min-width: 992px) {
  .pages__menu2 .title img {
    width: 29%;
  }
}
/* parametres generale pages menus*/
ul {
  padding: 0;
  margin: 0;
  display: contents;
  font-size: 1.6em;
}

.pages_menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.pages_menu h2 {
  margin-bottom: 35px;
  margin-top: 25px;
  font-size: 18px;
  font-weight: 100;
}

.sub_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  box-shadow: 0px 0px 10px 0px #c9c5c9;
  margin-bottom: 30px;
  width: 90%;
}

.menu_item {
  width: 81%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 100%;
}
.title img {
  max-height: 5px;
  width: 29%;
}
.title h4 {
  font-size: 12px;
  margin: 0 0;
}

.composition {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.composition p {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 12px;
}

.composition__price {
  font-weight: 600;
}

.composition.no_price {
  flex-direction: column;
}

/* RESPONSIVE */
/*min 280px*/
@media all and (min-width: 280px) {
  .composition {
    display: flex;
    flex-direction: column;
  }

  ul {
    font-size: 1.2em;
    line-height: 1.5em;
  }
}
/*min 576px*/
@media all and (min-width: 576px) {
  .composition {
    display: flex;
    flex-direction: row;
  }

  .composition__name {
    text-align: left;
  }

  li {
    font-size: 1.2em;
    line-height: 2em;
  }

  .title h4 {
    font-size: 15px;
  }
}
/*min 768px*/
@media all and (min-width: 768px) {
  .sub_section {
    width: auto;
    margin-top: 30px;
  }
}
/*min 992px*/
@media all and (min-width: 992px) {
  .pages_menu {
    margin-bottom: 40px;
  }
  .pages_menu h2 {
    font-size: 30px;
  }

  li {
    font-size: 1.6em;
    line-height: 2.2em;
  }
}
@media all and (min-width: 992px) {
  .composition p {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .title {
    margin-bottom: 30px;
  }
  .title h4 {
    font-size: 20px;
  }

  .menu_item {
    margin-bottom: 15px;
  }
}
/* les reglages couleurs*/
/* background menus*/
/*parametre des animations et/ou  effets*/
/* Animation zoom menu */
.menus a {
  transition: 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.menus a:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

/* animation soon */
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
/* animation footer*/
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* animation footer keyframe mozilla*/
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(5deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-5deg);
  }
  40% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
  }
  70% {
    -webkit-transform: rotate(-5deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
/* Effet surlignements titre menus*/
.title h4:hover + .hover_underline {
  transform: scale(1);
}

.title .hover_underline {
  height: 1px;
  background-color: black;
  transform: scale(0);
  transition: transform 500ms;
  transform-origin: 0 0;
}

/*parametre Fonts*/
@font-face {
  font-family: "dancing_scriptregular";
  src: url("Fonts/dancing/dancingscript-variablefont_wght-webfont.woff2") format("woff2"), url("Fonts/dancing/dancingscript-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shadows_into_lightregular";
  src: url("Fonts/shadow/shadowsintolight-webfont.woff2") format("woff2"), url("Fonts/shadow/shadowsintolight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* parametre couleurs du degradé */
/*parametre menu page d'accueil*/
.menu3 {
  background-color: #edefef;
}
.menu3 a {
  font-family: "dancing_scriptregular";
  background: linear-gradient(to right, #173BDA 80%, #5FA4F1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*parametre page menu*/
.pages__menu3 {
  /* parametre responsive */
}
.pages__menu3 .sub_section {
  background-color: #edefef;
  font-family: "shadows_into_lightregular", cursive;
}
.pages__menu3 h3 {
  font-family: "dancing_scriptregular";
  font-size: 25px;
  background: -webkit-linear-gradient(left, #173BDA, #5FA4F1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pages__menu3 .menu_item {
  margin-bottom: 30px;
}
.pages__menu3 .title {
  margin-bottom: 20px;
  color: black;
}
.pages__menu3 .title .hover_underline {
  background-color: #173BDA;
}
.pages__menu3 .title h4 {
  font-weight: lighter;
}
.pages__menu3 .title .title img {
  width: 26%;
}
@media all and (min-width: 576px) {
  .pages__menu3 h3 {
    font-size: 40px;
  }
}
@media all and (min-width: 992px) {
  .pages__menu3 h3 {
    font-size: 50px;
  }
  .pages__menu3 .title img {
    width: 29%;
  }
}

/* parametres generale pages menus*/
ul {
  padding: 0;
  margin: 0;
  display: contents;
  font-size: 1.6em;
}

.pages_menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.pages_menu h2 {
  margin-bottom: 35px;
  margin-top: 25px;
  font-size: 18px;
  font-weight: 100;
}

.sub_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  box-shadow: 0px 0px 10px 0px #c9c5c9;
  margin-bottom: 30px;
  width: 90%;
}

.menu_item {
  width: 81%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 100%;
}
.title img {
  max-height: 5px;
  width: 29%;
}
.title h4 {
  font-size: 12px;
  margin: 0 0;
}

.composition {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.composition p {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 12px;
}

.composition__price {
  font-weight: 600;
}

.composition.no_price {
  flex-direction: column;
}

/* RESPONSIVE */
/*min 280px*/
@media all and (min-width: 280px) {
  .composition {
    display: flex;
    flex-direction: column;
  }

  ul {
    font-size: 1.2em;
    line-height: 1.5em;
  }
}
/*min 576px*/
@media all and (min-width: 576px) {
  .composition {
    display: flex;
    flex-direction: row;
  }

  .composition__name {
    text-align: left;
  }

  li {
    font-size: 1.2em;
    line-height: 2em;
  }

  .title h4 {
    font-size: 15px;
  }
}
/*min 768px*/
@media all and (min-width: 768px) {
  .sub_section {
    width: auto;
    margin-top: 30px;
  }
}
/*min 992px*/
@media all and (min-width: 992px) {
  .pages_menu {
    margin-bottom: 40px;
  }
  .pages_menu h2 {
    font-size: 30px;
  }

  li {
    font-size: 1.6em;
    line-height: 2.2em;
  }
}
@media all and (min-width: 992px) {
  .composition p {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .title {
    margin-bottom: 30px;
  }
  .title h4 {
    font-size: 20px;
  }

  .menu_item {
    margin-bottom: 15px;
  }
}
/* les reglages couleurs*/
/* background menus*/
/*parametre des animations et/ou  effets*/
/* Animation zoom menu */
.menus a {
  transition: 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.menus a:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

/* animation soon */
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
/* animation footer*/
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* animation footer keyframe mozilla*/
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(5deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-5deg);
  }
  40% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
  }
  70% {
    -webkit-transform: rotate(-5deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
/* Effet surlignements titre menus*/
.title h4:hover + .hover_underline {
  transform: scale(1);
}

.title .hover_underline {
  height: 1px;
  background-color: black;
  transform: scale(0);
  transition: transform 500ms;
  transform-origin: 0 0;
}

/*parametre Fonts*/
@font-face {
  font-family: "kaushan_scriptregular";
  src: url("Fonts/kaushan/kaushanscript-regular-webfont.woff2") format("woff2"), url("Fonts/kaushan/kaushanscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kalamregular";
  src: url("Fonts/kalam/kalam-regular-webfont.woff2") format("woff2"), url("Fonts/kalam/kalam-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* parametre couleurs du degradé */
/* parametre menu page d'accueil */
.menu4 {
  background-color: #fdfffd;
}
.menu4 a {
  font-family: "kaushan_scriptregular";
  background: linear-gradient(to left, #CCFE8F 20%, #6AA256 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* parametre page menu */
.pages__menu4 .sub_section {
  font-family: "kalamregular", cursive;
}
.pages__menu4 h3 {
  font-family: "kaushan_scriptregular";
  font-size: 22px;
  background: -webkit-linear-gradient(left, #6AA256, #CCFE8F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pages__menu4 h4 {
  font-weight: 100;
}
.pages__menu4 .title {
  margin-bottom: 20px;
  color: black;
}
.pages__menu4 .title .hover_underline {
  background-color: #6AA256;
}

/* parametre responsive */
@media all and (min-width: 576px) {
  h3 {
    font-size: 30px;
  }
}
@media all and (min-width: 992px) {
  h3 {
    font-size: 50px;
  }
}
body {
  display: contents;
  font-family: sans-serif;
}

.main_header {
  display: flex;
  background-color: #579c87;
  height: 120px;
}
.main_header h1 {
  margin: auto;
}
.main_header a {
  text-decoration: none;
  color: #fdcb46;
  font-size: 3em;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 576px;
}

#home {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: auto;
  margin-top: 20px;
  width: 60%;
}

.menus {
  border: solid #bebebe 1px;
  box-shadow: 0px 0px 30px #bebebe;
  border-radius: 2px;
  padding-top: 20px;
}
.menus a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 3.4em;
  text-align: center;
  width: 100%;
  height: 100%;
}

.soon {
  display: flex;
  text-align: center;
  border: solid #bebebe 1px;
  width: auto;
  margin: 20px auto;
  padding: 0px 5px 0px 15px;
  border-radius: 20px;
  background-color: #579c87;
}
.soon h6 {
  color: #fdcb46;
  font-size: 1.2em;
}
.soon span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.soon span:nth-child(2) {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-delay: 0.2s;
}
.soon span:nth-child(3) {
  animation-delay: 0.4s;
}

footer {
  background-color: #579c87;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 60px;
  line-height: 3.6em;
  position: sticky;
  bottom: 0;
}
footer a {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: 1.6em;
  color: #fdcb46;
}
footer a:hover {
  animation: wiggle 0.3s;
  -webkit-animation: wiggle 0.3s;
}

/*parametre generales pages menus*/
.page_menus h2 {
  margin-bottom: 20px;
  font-size: 2em;
}
.page_menus main {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

container {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: solid #bebebe 1px;
  box-shadow: 0px 0px 10px #bebebe;
}
container .menu_title {
  padding-top: 20px;
}
container article {
  margin-bottom: 10px;
  margin-top: 20px;
  line-height: 1.5em;
}

article span {
  font-weight: bold;
}

.title_menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 10px;
}
.title_menu h3 {
  font-size: 1.2em;
  font-weight: 600;
}

.line img {
  width: 80%;
}

.titles {
  padding-top: 20px;
}

/*MENTIONS LEGALES*/
#mentions {
  height: 530px;
}
#mentions section {
  padding-top: 20px;
  text-align: center;
  height: 530px;
}

/*PARAMETRE DU RESPONSIV*/
/* Min 280px */
@media only screen and (min-width: 280px) {
  .main_header a {
    font-size: 1.6em;
  }

  .soon p {
    font-size: 0.8em;
  }

  footer a {
    font-size: 1em;
  }

  .menus {
    padding: 20px 0px;
  }
}
/*Min 340px*/
@media only screen and (min-width: 340px) {
  .main_header a {
    font-size: 2em;
  }

  .soon p {
    font-size: 1em;
  }

  footer a {
    font-size: 1.2em;
  }

  .menus {
    padding: 40px 0px;
  }
}
@media only screen and (min-width: 576px) {
  .menus {
    padding: 100px 0px;
  }
}
/*Min 768px*/
@media only screen and (min-width: 768px) {
  .soon p {
    font-size: 1.4em;
  }

  footer a {
    font-size: 2em;
  }

  #home {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
/*Min 992px*/
@media only screen and (min-width: 992px) {
  .main_header {
    height: 100px;
  }
  .main_header h1 a {
    font-size: 2.6em;
  }

  main {
    max-width: 992px;
  }

  .soon {
    margin-bottom: 40px;
  }
  .soon p {
    font-size: 1.8em;
  }

  footer {
    height: 80px;
    line-height: 4.8em;
  }
  footer a {
    font-size: 2.6em;
  }
}
/*Min 1200px*/
@media only screen and (min-width: 1200px) {
  .main_header {
    height: 150px;
  }
  .main_header h1 a {
    font-size: 3.4em;
  }

  main {
    min-width: 1200px;
  }

  div#home {
    width: 100%;
  }

  .soon p {
    font-size: 2em;
  }

  footer {
    height: 100px;
    line-height: 6em;
  }
  footer a {
    font-size: 3em;
  }
}

/*# sourceMappingURL=style.css.map */
