/* fullsreen*/
@mixin fullscreen {
    width:100%;
  }

/* centrer de gauche a droite*/
@mixin center {
    margin-left: auto;
    margin-right: auto;  
}

/*centrer horizontalement et verticalement*/
@mixin center-hv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}
/* reglage generale des menus*/
@mixin menus-values {
    max-width: 1200px;
    height: 512px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 60px;
}