$max-width:1600px;

/* les reglages couleurs*/
$color-primary:#579c87;
$color-secondary:#fdcb46;


/* les reglages polices*/
$police: Arial, Helvetica, sans-serif;

/* background menus*/
$menu1:#fcdfdb;
$menu2:#fff5fe;
$menu3:#edefef;
$menu4:#fdfffd;


