/* les reglages couleurs*/
$color-primary:#579c87;
$color-secondary:#fdcb46;
$color-third:#bebebe;


/* background menus*/
$menu1:#fcdfdb;
$menu2:#fff5fe;
$menu3:#edefef;
$menu4:#fdfffd;

/* couleurs textes menus */
/* menu 1 */
$text-menu1:  #3c1218;

/* Degrader titre menu*/

/* parametre couleurs du degradé */
/* menu 1 */
$degrad-color1:#ee5a61;
$degrad-color2: #f4896d;
/* menu 2 */
$degrad-color3:#c77412;
$degrad-color4: #9C6A96;
$degrad-color5:#694DC5;
/* menu 3 */
$degrad-color6:#173BDA;
$degrad-color7:#5FA4F1;
/* menu 4 */
$degrad-color8:#6AA256;
$degrad-color9:#CCFE8F;


