/*parametre des animations et/ou  effets*/
/* Animation zoom menu */
.menus {
    display: grid;
}
.menus a {
        transition:0.5s;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        }
.menus a:hover {
    transform : scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
        }
/* animation soon */
@keyframes blink{
    0%{
        opacity: .2;
    }
    20%{
        opacity: 1;
    }
    100%{
        opacity: .2;
    }
}
/* animation footer*/
@keyframes wiggle{
	0%{
        transform: rotate(0deg);
	}
	10%{
		transform:rotate(5deg);
	}
	20%{
		transform: rotate(0deg);
	}
	30%{
		transform: rotate(-5deg);
	} 
	40%{
		transform: rotate(0deg);
	}
	50%{
		transform:rotate(5deg);
	}
	60%{
		transform: rotate(0deg);
	}
	70%{
		transform: rotate(-5deg);
	}
	80%{
		transform: rotate(0deg);
	}
	90%{
		transform:rotate(5deg);
	}
	100%{
		transform: rotate(0deg);
	}
}
/* animation footer keyframe mozilla*/
@-webkit-keyframes wiggle{
    0%{
        -webkit-transform: rotate(0deg);
	}
	10%{
		-webkit-transform:rotate(5deg);
	}
	20%{
		-webkit-transform: rotate(0deg);
	}
	30%{
		-webkit-transform: rotate(-5deg);
	}
	40%{
		-webkit-transform: rotate(0deg);
	}
	50%{
		-webkit-transform:rotate(5deg);
	}
	60%{
		-webkit-transform: rotate(0deg);
	}
	70%{
		-webkit-transform: rotate(-5deg);
	}
	80%{
		-webkit-transform: rotate(0deg);
	}
	90%{
		-webkit-transform:rotate(5deg);
	}
	100%{
		-webkit-transform: rotate(0deg);
	}
}
/* Effet surlignements titre menus*/
  .title h4:hover + .hover_underline {
    transform: scale(1);
  }
  .title .hover_underline {
    height: 1px;
    background-color: black;
    transform: scale(0);
    transition: transform 500ms;
    transform-origin: 0 0;
  }
  