/* parametres font menu communs */
@font-face {
  font-family: 'segoeprint';
  src: url('../css/Fonts/segoe-print/segoepr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cantata';
  src: url('../css/Fonts/Cantata_One/CantataOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

/* parametres fonts menus */
/* menu 1 */
@font-face {
  font-family: 'devonshireregular';
  src: url('Fonts/devonshire/devonshire-regular-webfont.woff2') format('woff2'),
       url('Fonts/devonshire/devonshire-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* menu 2 */
@font-face {
  font-family: 'croissant_oneregular';
  src: url('Fonts/croissant/croissantone-regular-webfont.woff2') format('woff2'),
       url('Fonts/croissant/croissantone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_slabregular';
  src: url('Fonts/roboto-slab/RobotoSlab-Regular-webfont.eot');
  src: url('Fonts/roboto-slab/RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('Fonts/roboto-slab/RobotoSlab-Regular-webfont.woff2') format('woff2'),
       url('Fonts/roboto-slab/RobotoSlab-Regular-webfont.woff') format('woff'),
       url('Fonts/roboto-slab/RobotoSlab-Regular-webfont.ttf') format('truetype'),
       url('Fonts/roboto-slab/RobotoSlab-Regular-webfont.svg#roboto_slabregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* menu 3 */
@font-face {
  font-family: 'dancing_scriptregular';
  src: url('Fonts/dancing/dancingscript-variablefont_wght-webfont.woff2') format('woff2'),
       url('Fonts/dancing/dancingscript-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shadows_into_lightregular';
  src: url('Fonts/shadow/shadowsintolight-webfont.woff2') format('woff2'),
       url('Fonts/shadow/shadowsintolight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* menu 4 */
@font-face {
  font-family: 'kaushan_scriptregular';
  src: url('Fonts/kaushan/kaushanscript-regular-webfont.woff2') format('woff2'),
       url('Fonts/kaushan/kaushanscript-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'kalamregular';
  src: url('Fonts/kalam/kalam-regular-webfont.woff2') format('woff2'),
       url('Fonts/kalam/kalam-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}