
@import "variables.scss";

/* parametres generale pages menus*/

.pages_menu {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    h2 {
        margin-bottom: 35px;
        margin-top: 25px;
        font-size: 18px;
        font-weight: 100;
      }
  }

  @media all and (min-width: 992px) {
    .pages_menu {
      margin-bottom: 40px;
        h2 {
            font-size: 30px;
      }
    }   
  }

  
  .sub_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    box-shadow: 0px 0px 10px 0px #c9c5c9;
    margin-bottom: 30px;
    width: 90%;
  }
  @media all and (min-width: 768px) {
    .sub_section {
      width: 60%;
      margin-top: 30px;
    }
  }
  
  .menu_item {
    width: 81%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
  }
  @media all and (min-width: 992px) {
    .menu_item {
      margin-bottom: 15px;
    }
  }
  
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100%;
  }
  @media all and (min-width: 992px) {
    .title {
      margin-bottom: 30px;
    }
  }
  .title img {
    max-height: 5px;
    width: 29%;
  }
  .title img.reverse {
    transform: rotateY(180deg);
  }
  .title h4 {
    font-size: 12px;
    margin: 0 0;
  }
  .title h4:hover + .hover_underline {
    transform: scale(1);
  }
  @media all and (min-width: 576px) {
    .title h4 {
      font-size: 15px;
    }
  }
  @media all and (min-width: 992px) {
    .title h4 {
      font-size: 20px;
    }
  }
  .title .hover_underline {
    height: 1px;
    background-color: black;
    transform: scale(0);
    transition: transform 500ms;
    transform-origin: 0 0;
  }
  
  .composition {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .composition p {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12px;
  }
  @media all and (min-width: 576px) {
    .composition p {
      font-size: 15px;
    }
  }
  @media all and (min-width: 992px) {
    .composition p {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
  .composition p:nth-child(1) {
    width: 85%;
  }
  .composition p:nth-child(2) {
    width: 10%;
  }
  .composition.small_width {
    width: 85%;
  }
  .composition.no_price {
    flex-direction: column;
  }
  .composition.no_price p {
    width: 100%;
  }
  .composition.price_bold p:nth-child(2) {
    font-weight: bolder;
  }
