@import "menu.scss";
@import "variables.scss";
@import "effects.scss";
/*parametre Fonts*/

@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('Fonts/kaushan/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('Fonts/kaushan/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kalamregular';
    src: url('Fonts/kalam/kalam-regular-webfont.woff2') format('woff2'),
         url('Fonts/kalam/kalam-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* parametre couleurs du degradé */

$degrad-color8:#6AA256;
$degrad-color9:#CCFE8F;

/* parametre menu page d'accueil */

.menu4 {
    background-color: $menu4;
    a{
    font-family: 'kaushan_scriptregular';
    background: linear-gradient(to left, $degrad-color9 20%, $degrad-color8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    h3 {
        font-family: 'segoeprint';
    }
    }
}

/* parametre page menu */

.pages__menu4 {
    .sub_section{
        font-family: 'kalamregular', cursive;
    }
    h3{
        font-family: 'kaushan_scriptregular';
        font-size: 22px;
        background: -webkit-linear-gradient(left, $degrad-color8, $degrad-color9);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h4{
        font-weight: 100;
    }
    .title{
        margin-bottom: 20px;
        color: black;
            .hover_underline{
                background-color: $degrad-color8;
            }
        }
}

/* parametre responsive */

@media all and (min-width: 576px){
    h3 {
        font-size: 30px;
    }
}
@media all and (min-width: 992px){
    h3 {
        font-size: 50px;
    }
}
