@import "menu.scss";
@import "variables.scss";
/*parametre Fonts*/

@font-face {
    font-family: 'dancing_scriptregular';
    src: url('Fonts/dancing/dancingscript-variablefont_wght-webfont.woff2') format('woff2'),
         url('Fonts/dancing/dancingscript-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'shadows_into_lightregular';
    src: url('Fonts/shadow/shadowsintolight-webfont.woff2') format('woff2'),
         url('Fonts/shadow/shadowsintolight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* parametre couleurs du degradé */

$degrad-color6:#173BDA;
$degrad-color7:#5FA4F1;

/*parametre menu page d'accueil*/

.menu3 {
    font-family: 'dancing_scriptregular';
    background: linear-gradient(to right, $degrad-color6 80%, $degrad-color7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        }


/*parametre page menu*/

#menu_3{
    .sub_section{
        background-color: $menu3;
        font-family: 'shadows_into_lightregular', cursive;
    }
    h3{
        font-family: 'dancing_scriptregular';
        font-size: 25px;
        background: -webkit-linear-gradient(left, $degrad-color6, $degrad-color7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .menu_item{
        margin-bottom: 30px;
    }
    .title{
        margin-bottom: 20px;
    }
    h4{
        font-weight: lighter;
    }
    .title img{
        width: 26%;
    }
}

/* parametre responsive */

@media all and (min-width: 576px){
    h3 {
        font-size: 40px;
    }
}
@media all and (min-width: 992px){
    h3 {
        font-size: 50px;
    }
    .title img {
        width: 29%;
    }
}        
