
@import "variables.scss";

/* parametres generale pages menus*/

ul {
  padding: 0;
  margin: 0;
  display: contents;
  font-size: 1.6em;
}


.pages_menu {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    h2 {
        margin-bottom: 35px;
        margin-top: 25px;
        font-size: 18px;
        font-weight: 100;
      }
  }

  .sub_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    box-shadow: 0px 0px 10px 0px #c9c5c9;
    margin-bottom: 30px;
    width: 90%;
  }

  .menu_item {
    width: 81%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100%;
    img {
      max-height: 5px;
      width: 29%;
    }
    h4 {
      font-size: 12px;
      margin: 0 0;
    }
  }

  .title h4:hover + .hover_underline {
    transform: scale(1);
  }

  .title .hover_underline {
    height: 1px;
    background-color: black;
    transform: scale(0);
    transition: transform 500ms;
    transform-origin: 0 0;
  }
  
  .composition {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    p {
      margin-top:2px;
      margin-bottom: 2px;
      font-size: 12px;
    }
  }

  .composition__price {
    font-weight: 600;
}

  .composition.no_price {
    flex-direction: column;
  }

  /* RESPONSIVE */



/*min 280px*/

@media all and (min-width: 280px) {
  .composition {
    display: flex;
    flex-direction: column;
  }
  ul {
    font-size: 1.2em;
    line-height: 1.5em;
  }
}
/*min 576px*/
  @media all and (min-width: 576px) {
    .composition {
      display: flex;
      flex-direction: row;
  }
  .composition__name {
    text-align: left;
  }
  li {
    font-size: 1.2em;
    line-height: 2em;
  }
  .title h4 {
      font-size: 15px;
  }
}

/*min 768px*/
@media all and (min-width: 768px) {
  .sub_section {
    width: auto;
    margin-top: 30px;
  }
}

/*min 992px*/
  @media all and (min-width: 992px) {
    .pages_menu {
      margin-bottom: 40px;
        h2 {
            font-size: 30px;
      }
    }
    li {
      font-size: 1.6em;
      line-height: 2.2em;
    }   
  }

  @media all and (min-width: 992px) {
    .composition p {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .title {
      margin-bottom: 30px;
      h4 {
        font-size: 20px;
      }
    }
    .menu_item {
      margin-bottom: 15px;
    }
  }

