@import "variables.scss";
@import "mixins.scss";
@import "menus.scss";
@import "fonts.scss";
@import "effects.scss";

/* contenu general */
body {
    width: 100%;
    margin: 0;
    max-width: 768px;
    font-family: sans-serif;
}

#page_main {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header"
                         "menus" 
                         "bouton" 
                         "footer";
    margin: auto;
}
/* HEADER*/
.main_header {
    grid-area: header;
    background-color: $color-primary;
    display: flex;
    height: 80px;
    text-align: center;
    h1 {
        margin: auto;
    }
    a {
        text-decoration: none;
        color: $color-secondary;
        font-size: 1.6em;
    }
}
/* MENUS*/
#home {
    grid-area: menus;
    display: grid;
    margin: 5% 10%;
    grid-template-columns: 1fr;
    grid-gap: 2%;
}

/* BOUTON */
.soon {
    grid-area: bouton;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5px auto 10px auto;
    h6 {
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: $color-primary;
        color: $color-secondary;
        border-radius: 10px;
        font-size:16px;
        font-weight: normal;
        width: 200PX;
        span{
            animation-name: blink;
            animation-duration: 1.4s;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
            &:nth-child(2){
                animation-name: blink;
                animation-duration: 1.4s;
                animation-iteration-count: infinite;
                animation-fill-mode: both;
            animation-delay: .2s;
            }
            &:nth-child(3){
                animation-delay: .4s;
            }
        }
    }
}

/* FOOTER */
footer {
    grid-area: footer;
    bottom: 0;
    width: 100%;
    margin: auto;
    height: 50px;
    position: fixed;
    background-color: $color-primary;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    a {
        font-size: 15px;
        padding: 15px 15px 15px 15px;       
        text-decoration: none;
        color: $color-secondary;
        display: block;
        &:hover{
            animation: wiggle 0.3s;
            -webkit-animation: wiggle 0.3s;
        }
    }
}

/* effet wiggle */
/* animation footer*/
@keyframes wiggle{
	0%{
        transform: rotate(0deg);
	}
	10%{
		transform:rotate(5deg);
	}
	20%{
		transform: rotate(0deg);
	}
	30%{
		transform: rotate(-5deg);
	} 
	40%{
		transform: rotate(0deg);
	}
	50%{
		transform:rotate(5deg);
	}
	60%{
		transform: rotate(0deg);
	}
	70%{
		transform: rotate(-5deg);
	}
	80%{
		transform: rotate(0deg);
	}
	90%{
		transform:rotate(5deg);
	}
	100%{
		transform: rotate(0deg);
	}
}
/* animation footer keyframe mozilla*/
@-webkit-keyframes wiggle{
    0%{
        -webkit-transform: rotate(0deg);
	}
	10%{
		-webkit-transform:rotate(5deg);
	}
	20%{
		-webkit-transform: rotate(0deg);
	}
	30%{
		-webkit-transform: rotate(-5deg);
	}
	40%{
		-webkit-transform: rotate(0deg);
	}
	50%{
		-webkit-transform:rotate(5deg);
	}
	60%{
		-webkit-transform: rotate(0deg);
	}
	70%{
		-webkit-transform: rotate(-5deg);
	}
	80%{
		-webkit-transform: rotate(0deg);
	}
	90%{
		-webkit-transform:rotate(5deg);
	}
	100%{
		-webkit-transform: rotate(0deg);
	}
}

/* RESPONSIVE */
/* 576PX */
@media only screen and (min-width: 576px) {
    .menu4 {
        margin-bottom: 12%;
    }
    .soon {
        margin: 10px auto 10px auto;
    }
}
/* 768PX */
@media only screen and (min-width: 768px) {
    body{
        max-width: 992px;
        width: 100%;
        #page_main {
        .main_header {
            width: 100%;
        }
        #home {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 4%;
            .menu4 {
            padding-bottom: 0px;
            margin-bottom: 0%;
        }
        .menu2 h2 {
            font-size: 24px;
        }
        .menu1, .menu3, .menu4 {
            h2 {
                font-size: 35px;
            }
            h3 {
                font-size: 40px;
            }
        }
    }
    .soon {
        margin: 0px auto 40px auto;
        h6 {
            width: 260px;
            font-size: 22px;
        }
    }
    footer a {
            font-size: 30px;
        }
    }
  }
}
/* 992 px */
@media only screen and (min-width: 992px) {
body {
    max-width: 992px;
    width: 80%;
    @include center;
    #page_main {
        #home {
            max-width: 992px;
            width: 70%;
            @include center;
            .menu2 h2 {
                font-size: 30px;
        }
    }
}    
footer {
    width: 80%;
    a {
        font-size: 40px;
    }
    }
}
}
/* 1200px */
@media only screen and (min-width: 1200px) {
    body {
        .main_header a {
            font-size: 2em;
        }
        max-width: 1600px;
        width: 80%;
        @include center;
        #page_main .soon {
            margin: 0px auto 85px auto;
            h6 {
                width: 300px;
                font-size: 30px;
                height: 50px;
                line-height: 50px;
            }
        }
        footer {
            width: 80%;
            height: 100px;
            a {
                font-size: 40px;
            }
        }
    }
}