/* parametres generale pages menus*/
ul {
    padding: 0;
    margin: 0;
    display: contents;
    font-size: 1.6em;
  }
  .pages_menu {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      h2 {
          margin-top: 35px;
          font-size: 18px;
          font-weight: 100;
        }
    }
  .sub_section {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 10px;
      box-shadow: 0px 0px 10px 0px #c9c5c9;
      margin-bottom: 30px;
      width: 80%;
    }
  .menu_item {
      width: 81%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 5px;
    }
  .title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 30px;
      width: 100%;
      img {
        width: 29%;
      }
      h4 {
        font-size: 12px;
        margin: 0 0;
      }
    }
  .composition {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      p {
        margin-top:2px;
        margin-bottom: 2px;
        font-size: 12px;
      }
    }
  .composition__price {
      font-weight: 600;
  }
  .composition.no_price {
      flex-direction: column;
    }
  /* RESPONSIVE */
  /*min 280px*/
  @media all and (min-width: 280px) {
    .composition {
      display: flex;
      flex-direction: column;
    }
    ul {
      font-size: 1.2em;
      line-height: 1.5em;
    }
  }
  /*min 576px*/
    @media all and (min-width: 576px) {
      .composition {
        display: flex;
        flex-direction: row;
    }
    .composition__name {
      text-align: left;
    }
    li {
      font-size: 1.2em;
      line-height: 2em;
    }
    .title h4 {
        font-size: 15px;
    }
  }
  /*min 768px*/
  @media all and (min-width: 768px) {
    .sub_section {
      width: 80%;
    }
  }
  /*min 992px*/
    @media all and (min-width: 992px) {
      .pages_menu {
        margin-bottom: 140px;
          h2 {
              font-size: 30px;
        }
      }
      li {
        font-size: 1.6em;
        line-height: 2.2em;
      }   
    }
  @media all and (min-width: 992px) {
      .composition p {
        font-size: 20px;
        margin-bottom: 10px;
      }
      .title {
        margin-bottom: 30px;
        h4 {
          font-size: 20px;
        }
      }
      .menu_item {
        margin-bottom: 15px;
      }
  }
    
/* menu 1 */
.pages__menu1{
    .sub_section {
    background-color: $menu1;
    font-family: 'segoeprint';
    font-weight: 300;
    h4 {
        font-weight: bolder;
      }
  }
  .title{
    margin-bottom: 20px;
    color: $text-menu1;
        .hover_underline{
            background-color: $text-menu1;
        }
    }
}
  
#title_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    img {
        width: 25%;
      }
    h3 {
        font-family: 'devonshireregular';
        font-size: 23px;
        font-weight: 100;
        margin-top: 0;
        margin-bottom: 10px;
      }
  }

#last_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Devonshire";
    width: 45%;
    margin-top: 17px;
    margin-bottom: 20px;
    img {
        max-height: 20px;
        margin-right: 5px;
      }
    p {
        font-size: 17px;
        margin: 0;
      }
  }


  .no_price {
    list-style: none;
  }

/* parametre responsive */

@media all and (min-width: 992px) {
    #last_item {
      align-items: center;
      p {
        font-size: 25px;
      }
    }
    #title_menu {
        margin-bottom: 20px;
        h3 {
            font-size:50px;
        }
      }
}

/* menu 2 */
.pages__menu2 {
    .sub_section {
        background-color: $menu2;
        font-family: 'roboto_slabregular';
  }
    h3 {
        font-family: 'croissant_oneregular';
        font-size: 15px;
        font-weight: lighter;
        background: -webkit-linear-gradient(left, $degrad-color3, $degrad-color4, $degrad-color5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
  }
    .menu_item {
        margin-bottom: 30px;
  }
    .title {
        margin-bottom: 20px;
        img {
            width: 18%;
          }
    }
    h4 {
        font-weight: bold;
    }
}

#item_1 {
    color: $degrad-color3;
    .hover_underline{
        background-color: $degrad-color3;
    }
}

#item_2 {
    color: $degrad-color4;
    .hover_underline{
        background-color: $degrad-color4;
    }
}

#item_3 {
    color: $degrad-color5;
    .hover_underline{
        background-color: $degrad-color5;
    }  
}

/* parametre responsive */

@media all and (min-width: 576px) {
    .pages__menu2 h3 {
        font-size: 30px;
    }
}

@media all and (min-width: 992px) {
    .pages__menu2 .title img {
        width: 29%;
    }
}


/* menu 3 */
.pages__menu3 {
    .sub_section {
        background-color: $menu3;
        font-family: 'shadows_into_lightregular', cursive;
    }
    h3 {
        font-family: 'dancing_scriptregular';
        font-size: 25px;
        background: -webkit-linear-gradient(left, $degrad-color6, $degrad-color7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .menu_item {
        margin-bottom: 30px;
    }
    .title {
        margin-bottom: 20px;
        color: black;
            .hover_underline{
                background-color: $degrad-color6;
    }
    h4 {
        font-weight: lighter;
    }
    .title img {
        width: 26%;
    }
}

/* parametre responsive */

@media all and (min-width: 576px){
    h3 {
        font-size: 40px;
    }
}
@media all and (min-width: 992px){
    h3 {
        font-size: 50px;
    }
    .title img {
        width: 29%;
    }
}
}           


/* menu 4 */
.pages__menu4 {
    .sub_section{
        font-family: 'kalamregular', cursive;
    }
    h3{
        font-family: 'kaushan_scriptregular';
        font-size: 22px;
        background: -webkit-linear-gradient(left, $degrad-color8, $degrad-color9);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h4{
        font-weight: 100;
    }
    .title{
        margin-bottom: 20px;
        color: black;
            .hover_underline{
                background-color: $degrad-color8;
            }
        }
}

/* parametre responsive */

@media all and (min-width: 576px){
    h3 {
        font-size: 30px;
    }
}
@media all and (min-width: 992px){
    h3 {
        font-size: 50px;
    }
}
