/*PARAMETRES GENERALE*/
body {
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}


/*HEADER*/
header {
    width: 100%;
    height: 243px;
}


/*CORPS*/
#accueil {
    flex-direction: row;
}

.menu {
    border: 2px solid red;
}


/*FOOTER*/
